<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Drunken Angular</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= render_existing view_module(@conn), "head.html", assigns %>
  </head>

  <body class="Site">
    <header class="site-header">
        <nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="logo" href="/"><img src="./images/shield-large.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/blog">Blog</a></li>
                <li><a href="/style-guide">Style Guide</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/sign-in">Sign In</a></li>
                <li><a href="/register">Sign Up</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </header>
    <div class="site-content">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %> 
      
    </div><!-- /.site-content -->

    <footer class="site-footer">
      <div class="container">
        <a href="http://www.space-rocket.com">Space Rocket | Web & Graphic Design</a>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= render_existing view_module(@conn), "feet.html", assigns %>
  </body>
</html>
