// Buttons
.btn-lg, .btn-group-lg > .btn, .btn-group-lg > .btn {
    border: medium none;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0.27rem;
    line-height: 1.33333;
    padding: 20px 15px;
    text-transform: uppercase;
}
// Custom Core Styles
ul li i {
    margin-right: 40px;
}
